body {
    min-width:320px;
    padding:0px 10px;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}



/* Header */

header {
    min-width:320px;
    padding: 10px 10px;
    background-color: #343a40 !important;
}
nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
nav ui {
    display: flex;
    list-style:  none;
}

nav ui li {
    margin-right: 20px;
    color: rgba(255,255,255,.5);

}

nav #title {
    display: flex;
    justify-content:  center;
    align-items:  center;
    color: white;
    font-weight: 600;
}
.nav__menu {
    justify-self: flex-end;
}

/* body */

section {
    width:100%;
    margin-top:5px;
    padding:0px 10px;
    border:1px solid #343a40
}

/* about section */

#about {
    height:400px;
}

#about .about__title {
    position: relative;
    left:-300px;
    opacity:0
}

#about .about__after_title {
    position: relative;
    left:0px;
    opacity:1;
    transition-property: left opacity;
    transition-duration: 1s;
    transition-delay: 0.5s;
    transition-timing-function: linear;
}

#about .about__article {
    opacity:0;
}

#about .about__after_article {
    opacity:1;
    line-height: 20px;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
    transition-timing-function: linear;
}